@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --selected-bg: rgb(19, 84, 150);
    --dimentions: clamp(250px, 45vw, 400px);
    --page-width: clamp(200px, 100%, 60rem);
}

a {
    color: inherit;
    border: none;
    outline: none;
    text-decoration: none;
}

.profileData {
    position: relative;
    transition: transform 50ms;
    --img: url('/dunno.svg');
    box-shadow: 3px 3px 5px rgb(136, 136, 136);
    width: var(--dimentions);
    height: var(--dimentions);
    background: var(--img);
    background-size: contain;
    .nameTag {
        width: 100%;
        padding: 1rem 0;
        position: absolute;
        bottom: 0;
        @media only screen and (max-width: 767px) {
            h3 {
                font-size: medium;
            }
        }
    }
    .info {
        margin: auto;
        display: none;
        width: 180px;
        text-align: center;
        padding: 1rem;
    }
    &:hover {
        transform: scale(1.05);
        .info {
            display: block;
        }
    }
}

.tag {
    color: white;
    background: rgba(0, 0, 0, 0.514); text-align: center; backdrop-filter: blur(5px);
}

#picDis {
    display: grid;
    place-items: center;
    justify-content: center;
    --rows: calc(var(--dimentions) + 1rem);
    grid-template-columns: var(--rows)var(--rows)var(--rows);
    grid-template-rows: var(--rows) var(--rows);
    @media only screen and (max-width: 1310px) {
        grid-template-columns: var(--rows) var(--rows);
        grid-template-rows: var(--rows) var(--rows) var(--rows);
    }
    @media only screen and (max-width: 767px) {
        --dimentions: clamp(0px, 85vw, 400px);
        grid-template-columns: 1fr;
        grid-template-rows: var(--rows) var(--rows) var(--rows) var(--rows) var(--rows) var(--rows);
    }
}

.slice {
    margin: 1rem 0; width: 100%; height: 1px; background: var(--selected-bg);
}

main {
    h1 {
        margin: 20px auto;
        max-width: 200px;
        text-align: center;
        font-size: x-large;
        padding: 10px 20px;
        color: var(--selected-bg);
        border: 1px solid var(--selected-bg);
    }
    .section {
        padding-top: 60px;
        margin: auto;
        width: var(--page-width);
        section {
            margin-top: 20px;
            background: rgb(255, 255, 255);
            padding: 1rem;
        }
    }
    .page {
        display: none;
        &:target-within {
            display: block;
            animation: fadeIn 250ms ease-in-out;
        }
        &:target {
            display: block;
            animation: fadeIn 250ms ease-in-out;
        }
    }
}

#home {
    padding-top: 0;
    position: absolute;
    width: 100%;
    div {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-size: 30pt;
        }
    }
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 5px, 0);
    }
    to {
        opacity: 1;
    }
}

footer {
    background: black;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}